body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
  padding-top: 0.5%;
}

.list-group {
  padding: 1% 1.5%;
}

#date {
  font-size: 50%;
  color: rgba(0, 0, 0, 0.5);
}
